.header {
    margin-top: 100px;
    text-align: center;
    font-family: Calibri;

    .subtitle {
        font-size: 20px;
    }

    a {
        color: #2f3730;

        &:hover {
            color: #ad9baa;
        }
    }
}