<div class="header">
    <h1 class="title">{{title}}</h1>
    <p class="subtitle">In the context where many people are allergic to ambrosia or other allergically plants, it would
        be useful to have an application that should send an alert if the user approaches an area with high risk of
        allergies.</p>
    <p class="subtitle">On the <a routerLink="/map">MAP</a> page you will find a map and near it will be a list of
        locations where the risk of allergy is significantly higher than it would be in other parts of the city.</p>
    <p class="subtitle">If you have any questions you can directly get in touch with us on the <a
            routerLink="/contact-us">Contact Us</a> page.</p>
    <p>
        <!-- {{getLocation()|json}} -->
    </p>
</div>