.map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 90px;

    img {
        width: 20px;
    }

    .map {
        width: 100%;
        height: 60vh;
    }

    button {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}