.map-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 20px;

    .map {
        width: 70%;
        height: 600px;
    }

    .list {
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        button {
            position: relative;
            margin-bottom: 50px;
        }
    }

    .divider {
        margin-top: -100px;
        margin-left: -110px;
        margin-bottom: -170px;
        border-left: 5px solid black;
    }
}