<div class="map-container">
    <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89103.93341170714!2d21.146549865255476!3d45.74116295870146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4745677dcb0fb5a7%3A0x537faf6473936749!2sTimi%C8%99oara!5e0!3m2!1sen!2sro!4v1668197028144!5m2!1sen!2sro">
    </iframe>
    <!-- <div class="list">
        <button class="primary-button">Location 1</button>
        <button class="primary-button">Location 2</button>
        <button class="primary-button">Location 3</button>
    </div>
    <p class="divider"></p> -->
</div>